* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

#field {
    width: 50vw;
    height: 50vw;
    margin: auto;
}

.square {
    width: calc(50vw / 10);
    height: calc(50vw / 10);
    float: left;
    background-color: aquamarine;
}

.cell {
    height: 100%;
    width: 100%;
    border: 1px solid grey;
}

.red {
    background-color: red;
}